<div class="booyah-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 clear text-center">

  <h1>Welcome to the Ringley Document Portal!</h1>

  <p>To view the documents please first login or create the account if you don't have it yet.</p>
</div>